<div class="card-table">
	{{#players}}
		<div class="player player-{{username}}">
			<h4>{{name}}</h4>
			<div class="players-hand">
				<div class="card"></div>
			</div>
		</div>
	{{/players}}
</div>