
/* ==========================================================================
   my custom styles
   ========================================================================== */

/* helper styles */

.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow:hidden;
}

.relative-container {
    position: relative;
}

/* /helper styles */

/* bootstrap overrides */

hr {
	margin: 0;
}

/* /bootstrap overrides */

/* general page styles */

html {

}

body {
    -webkit-font-smoothing: antialiased;
    margin: 20px;
}

.start-game .create-game-container,
.start-game .page-title {
	display: none;
}

.game-container,
.dev-controls-container {
	display: none;
}

.start-game .game-container,
.start-game .dev-controls-container {
	display: block;
}

.card {
	display: inline-block;
	width: 68px;
	height: 92px;
	border-radius: 5px;
	background-position: -923px 0;
	box-shadow: 1px 1px 8px #444;
}

/* /general page styles */

/* page title styles */

.page-title {
	margin-bottom: 20px;
}

.page-title h1 {
	margin-bottom: 0;
	font-size: 60px;
	line-height: 1;
	letter-spacing: -1px;
	font-variant: small-caps;
	text-align: center;
}

.page-title h2 {
	font-size: 18px;
	font-weight: 200;
	line-height: 30px;
	text-align: justify;
	font-style: italic;
}

/* /page title styles */

/* start game form styles */

.create-game-form {
	margin: 0;
}

.create-game-form legend {
	text-align: center;
}

.create-game-form .rounds {
	margin-right: 10px;
}

/* /start game form styles */

/* card table styles */

.card-table-container h1 {
	margin: 0 0 10% 0;
	text-align: center;
	padding-bottom: 10px;
	border-bottom: 3px solid #333;
}

.card-table-container .well {
	padding: 10%;
}

.card-table {
	width: 749px;
	height: 750px;
	background: #2a7516;
	position: relative;
	border-radius: 30px;
	margin: 0 auto;
}

.card-table:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	border-bottom: 217.5px solid #2a7516;
	border-left: 217.5px solid #f5f5f5;
	border-right: 217.5px solid #f5f5f5;
	width: 42%;
	height: 0;
}

.card-table:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	border-top: 217.5px solid #2a7516;
	border-left: 217.5px solid #f5f5f5;
	border-right: 217.5px solid #f5f5f5;
	width: 42%;
	height: 0;
}

.card-table.players-2:before,
.card-table.players-2:after,
.card-table.players-3:before,
.card-table.players-3:after,
.card-table.players-4:before,
.card-table.players-4:after {
	display: none;
}

.card-table .player {
	width: 315px;
	height: 820px;
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	margin-left: -157px;
	margin-top: -410px;
}

.card-table .player:nth-child(1) {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.card-table .player:nth-child(2) {
	-webkit-transform: rotate(225deg);
	-moz-transform: rotate(225deg);
	-ms-transform: rotate(225deg);
	-o-transform: rotate(225deg);
	transform: rotate(225deg);
}

.card-table .player:nth-child(3) {
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	transform: rotate(270deg);
}

.card-table .player:nth-child(4) {
	-webkit-transform: rotate(315deg);
	-moz-transform: rotate(315deg);
	-ms-transform: rotate(315deg);
	-o-transform: rotate(315deg);
	transform: rotate(315deg);
}

.card-table .player:nth-child(5) {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
}

.card-table .player:nth-child(6) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.card-table .player:nth-child(7) {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

.card-table .player:nth-child(8) {
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}

.card-table .player-name {
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 24.5px;
	line-height: 30px;
}

.card-table .player:nth-child(1) .player-name,
.card-table .player:nth-child(2) .player-name,
.card-table .player:nth-child(8) .player-name {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.players-hand {
	height: 92px;
	margin-top: 20px;
}

.players-hand .card {
	margin-left: -23.7%;
	display: none;
}

.round-3 .players-hand .card,
.round-4 .players-hand .card {
	margin-left: -23.5%;
}

.round-5 .players-hand .card,
.round-6 .players-hand .card {
	margin-left: -23.4%;
}

.round-7 .players-hand .card,
.round-8 .players-hand .card {
	margin-left: -23.3%;
}

.players-hand .dealt {
	display: inline-block;
}

.deal-complete .players-hand .card {
	-webkit-transition: margin-left 0.5s ease-in;
    -moz-transition: margin-left 0.5s ease-in;
    -ms-transition: margin-left 0.5s ease-in;
    -o-transition: margin-left 0.5s ease-in;
    transition: margin-left 0.5s ease-in;

    margin-left: -27%;
}

.round-high-card-deals .players-hand .card:first-child,
.round-1 .players-hand .card:first-child {
	margin-left: 39.5%;
}

.round-2 .players-hand .card:first-child {
	margin-left: 41%;
}

.round-3 .players-hand .card:first-child {
	margin-left: 43%;
}

.round-4 .players-hand .card:first-child {
	margin-left: 45%%;
}

.round-5 .players-hand .card:first-child {
	margin-left: 47%;
}

.round-6 .players-hand .card:first-child {
	margin-left: 49.5%;
}

.round-7 .players-hand .card:first-child {
	margin-left: 52%;
}

.round-8 .players-hand .card:first-child {
	margin-left: 55%;
}

	/* first player, aka client styles */

	.card-table .player:first-child .player-name {
		font-size: 31.5px;
	}

	.round-3 .player:first-child .players-hand .card:first-child,
	.round-4 .player:first-child .players-hand .card:first-child,
	.round-5 .player:first-child .players-hand .card:first-child,
	.round-6 .player:first-child .players-hand .card:first-child,
	.round-7 .player:first-child .players-hand .card:first-child,
	.round-8 .player:first-child .players-hand .card:first-child,
	.round-3 .deal-complete .player:first-child .players-hand .card:first-child,
	.round-4 .deal-complete .player:first-child .players-hand .card:first-child,
	.round-5 .deal-complete .player:first-child .players-hand .card:first-child,
	.round-6 .deal-complete .player:first-child .players-hand .card:first-child,
	.round-7 .deal-complete .player:first-child .players-hand .card:first-child,
	.round-8 .deal-complete .player:first-child .players-hand .card:first-child {
		margin-left: 69%;
	}

	.round-2 .player:first-child .players-hand .card:first-child,
	.round-2 .deal-complete .player:first-child .players-hand .card:first-child {
		margin-left: 55%;
	}

	.round-2 .deal-complete .player:first-child .players-hand .card {
		margin-left: -55%;
	}

	.round-3 .deal-complete .player:first-child .players-hand .card {
		margin-left: -52%;
	}

	.round-4 .deal-complete .player:first-child .players-hand .card {
		margin-left: -42.5%;
	}

	.round-5 .deal-complete .player:first-child .players-hand .card {
		margin-left: -37.5%;
	}

	.round-6 .deal-complete .player:first-child .players-hand .card {
		margin-left: -34.5%;
	}

	.round-7 .deal-complete .player:first-child .players-hand .card {
		margin-left: -32.5%;
	}

	.round-8 .deal-complete .player:first-child .players-hand .card {
		margin-left: -31%;
	}

	/* first player, aka client styles */

/* /card table styles */



/* scoreboard styles */

.scoreboard-container {
	position: absolute;
	top: 20px;
	z-index: 2;

	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 0;
}

.scoreboard-container.span4 {
	left: -68.08510638297872%;
}

.scoreboard-container.span5 {
	left: -59.574468085106375%;
}

.hide-scoreboard .scoreboard-container {
	left: -100%;
}

.show-hide-scoreboard-link {
	width: 0;
	height: 0;
	position: absolute;
	top: -20px;
	border-left: none;
}

.span4 .show-hide-scoreboard-link {
	left: 103.5%;
}

.span5 .show-hide-scoreboard-link {
	left: 102.7%;
}

.show-hide-scoreboard-link.well {
	border-top-right-radius: 4px;
}

.scoreboard {
	margin-bottom: 0;
}

.scoreboard th,
.scoreboard td {
	text-align: center;
}

.scoreboard .bid-take-question {
	text-align: right;
}

.scoreboard .bid-take-answer {
	text-align: left;
	border-left: none;
	min-width: 30px;
}

.scoreboard tbody > tr:nth-child(4n+1) > td,
.scoreboard tbody > tr:nth-child(4n+2) > td {
	background-color: #f9f9f9;
}

.scoreboard tbody > tr:nth-child(even) > .bid-take-question,
.scoreboard tbody > tr:nth-child(even) > .bid-take-answer {
	border-top: 1px solid #eee;
}

.scoreboard th:first-child {
	vertical-align: middle;
	width: 35px;
}

.scoreboard .new-player {
	border-left: 1px solid #ccc;
}

.scoreboard thead th:nth-child(2),
.scoreboard tfoot th:nth-child(2),
.scoreboard tbody tr:nth-child(odd) td:nth-child(2),
.scoreboard tbody tr:nth-child(even) td:nth-child(1) {
	border-left: 1px solid #bbb;
}

.scoreboard tbody tr:first-child th,
.scoreboard tbody tr:first-child td {
	border-top: 1px solid #bbb;
}

.scoreboard tfoot th {
	border-top: 2px solid #bbb;
}

/* /scoreboard styles */